<div class="container">
  <div class = "jumbotron">
    <center><h1>Henry's Pokemon "Game"</h1>
    <p><div class="image-border"><img class="home-image" src="http://media.giphy.com/media/PiiQ5B1XxxiX6/giphy.gif"/></div></p>
    <a class="btn btn-danger">Doesn't do anything</a>
    <a class="btn btn-info">This one too :(</a></center>
  </div>
</div>
