<h1>Welcome to Henry's Pokemon Game!</h1>
<div><img src="http://media.giphy.com/media/PiiQ5B1XxxiX6/giphy.gif"/></div>
<br>
<div id="nav-button"><a href="/login">Login</a></div>
<div id="nav-button"><a href="/signup">Signup</a></div>
<div id="nav-button"><a href="/players">Players</a></div>
<div id="nav-button"><a href="/pokemon">Pokemon</a></div>

