<h2>Please sign in here</h2>
<form id="player_name" action="/players" method="post">
    <input type="text" name="player_name" placeholder:"Player name">
    <input type="text" name="player_password" placeholder:"Password">
    <button type="submit" value="Enter">Submit</button>
</form>