<img src="http://i.imgur.com/AXAzuCB.jpg"/>
<h1>Pokemon List</h1>
<% @pokemons.each do |pokemon| %>
  <div id="pokemon_list"><%= pokemon.id %>. <a href="/pokemon/<%= pokemon.id %>"><%= pokemon.name %></a></div>
<% end %>