<ul>
  <li>Stu: Hello there! Welcome to the world of POKEMON! My name is STU! People call me the POKEMON PROF!</li>
  <li>Stu: This world is inhabited by creatures called POKEMON! For some people, POKEMON are pets. Others use them for fights. Myself...I study POKEMON as a profession.</li>
  <li>First, what is your name?</li>
  <li><form id="player_name" action="/signin" method="post">
    <input type="text" name="player_name" placeholder:"Player name">
    <input type="text" name="player_password" placeholder:"Password">
    <button type="submit" value="Enter">Enter</button>
  </li></form>
  <li>Stu: Right! So your name is RED!</li>
  <li>Stu: This is my grandson. He's been your rival since you were a baby.</li>
  <li>Stu: ...Erm, what is his name again?</li>
  <li><form id="rival_name" action="/signin" method="post">
    <input type="text" name="player_name" placeholder:"Player name">
    <button type="submit" value="Enter">Enter</button>
  </li></form>
  <li>Stu: That's right! I remember now! His name is BLUE!</li>
  <li>Stu: RED! Your very own POKEMON legend is about to unfold! A world of dreams and adventures with POKEMON awaits! Let's go!</li>
</ul>