<div id="signup">
  <p><form id="signup" action="/signup" method="post"></p>
  <p>Stu: Hello there! Welcome to the world of POKEMON! My name is STU! People call me the POKEMON PROF!</p>
  <p>Stu: This world is inhabited by creatures called POKEMON! For some people, POKEMON are pets. Others use them for fights. Myself...I study POKEMON as a profession.</p>
  <p>First, what is your name?</p>

    <input type="text" name="player_name" placeholder:"Player name">

  <p>And password?</p>

    <input type="text" name="player_password" placeholder:"Password">

  <p>Stu: Right! So your name is RED!</p>
  <p>Stu: This is my grandson. He's been your rival since you were a baby.</p>
  <p>Stu: ...Erm, what is his name again?</p>

    <input type="text" name="rival_name" placeholder:"Rival name">

  <p>Stu: That's right! I remember now! His name is BLUE!</p>
  <p>Stu: RED! Your very own POKEMON legend is about to unfold! A world of dreams and adventures with POKEMON awaits! Let's go!</p>
<button type="submit" value="Enter">Enter</button></form>
</div>